<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Workout List</h1>
    <h2><a href= "/workouts/new"><button>Add Workout</button></a></h2>
    
    <table id="list">
      <thead>
        <tr>
          <th> Exercises </th>
          <th> Workout Date </th>
          <th> Details </th>
          <th> Delete </th>
        </tr>
      </thead>
      <tbody>
        <% workouts.forEach((workout) => { %>
            <tr>
              <td><%= workout.exercise.name %></td>
              <td><%= workout.startDate %></td>
              <td><a href="/workouts/<%= workout._id %>/index>">DETAILS</a></td>
              <td>
                <form 
                  action="/workouts/<%= workout._id %>?_method=DELETE" method="POST"
                >
                  <button type="submit">❌</button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %>