<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Workout List</h1>
    <table id="list">
      <% if (user) { %>
        <h2>Add Workout</h2>
        <form 
        action="/workouts" method="POST">
            <label for="exercises-input">Exercises: </label>
            <br>
            <select name="exerciseId">
                <% exercises.forEach(function(exercise) { %>
                  <option value="<%= exercise._id %>"><%= exercise.name %></option>
                <% }) %>
              </select>
              <br>
            <!-- <label for="calories-burned-input">Calories Burned: </label>
            <input type="text" name="caloriesBurned" id="calories-burned-input"> -->
            <label for="duration">Duration: </label>
            <input type="number" name="duration" id="duration-input">
            <label for="start-date-input">Workout Date: </label>
            <input type="datetime-local" name="startDate" id="start-date-input">
            <br>
            <button type="submit">Oyaa!</button>
          </form>
      <% } %>
      <br>
      <thead>
        <tr>
          <th> Exercises </th>
          <th> Workout Date </th>
          <th> Details </th>
          <th> Delete </th>
        </tr>
      </thead>
      <tbody>
        <% workouts.forEach((workout) => { %>
            <tr>
              <td><%= workout.exercise.name %></td>
              <td><%= workout.startDate %></td>
              <td><a href="/workouts/<%= workout._id %>/index>">DETAILS</a></td>
              <td>
                <form 
                  action="/workouts/<%= workout._id %>?_method=DELETE" method="POST"
                >
                  <button type="submit">❌</button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %>