<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
    <h1>Workout List</h1>
    <table id="list">
      <thead>
        <tr>
          <th> Exercises </th>
          <th> Calories Burned </th>
          <th> Details </th>
          <th> Delete </th>
        </tr>
      </thead>
      <% if (user) { %>
        <h2>Add Workout</h2>
        <form action="/workouts" method="POST">
            <label for="calories-burned-input">Calories Burned: </label>
            <input type="text" name="caloriesBurned" id="calories-burned-input">
            <label for="duration">Duration: </label>
            <input type="number" name="duration" id="duration-input">
            <label for="start-date-input">Workout Date: </label>
            <input type="number" name="startDate" placeholder="MM/DD/YY" id="start-date-input">
            <button type="submit">Oyaa!</button>
          </form>
      <% } %>
      <tbody>
        <% workouts.forEach((workout) => { %>
            <tr>
              <td><%= workout.exercise %></td>
              <td><%= workout.caloriesBurned %></td>
              <td><a href="/workouts/<%= workout._id %>/index>"></a></td>
              <td>
                <form 
                  action="/workouts/<%= workout._id %>?_method=DELETE" method="POST"
                >
                  <button type="submit">❌</button>
                </form>
              </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</main>

<%- include('../partials/footer') %>