<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <h1><%= title  %></h1>
    <section>
      <a href="/workouts/<%= workout._id %>/edit">
        <button class="btn" >Edit Workout</button>
      </a>
    <% if (user) { %>
      <div>Exercise:</div>
      <div><%= workout.exercise.name %></div>
      <div>Workout Date:</div>
      <div><%= workout.startDate %></div>
      <div>Duration:</div>
      <div><%= workout.duration %></div>
      
      <div>Comments:</div>
      <div><%= workout.Comments %></div>
          <h2><label for="content-textarea">Comments:</label></h2>
          <textarea name="content" placeholder= "How was your workout?" id="content-textarea"></textarea>
          <label for="weather-select">Weather:</label>
          <select name="weather" id="weather-select">
              <option value="Sunny">Sunny</option>
              <option value="Partly Cloudy">Partly Cloudy</option>
              <option value="Overcast">Overcast</option>
              <option value="Rainy">Rainy</option>
              <option value="Snowy">Snowy</option>
              <option value="Windy">Windy</option>
          </select>
          <label for="temperature-input">Temperature (°F):</label>
          <input type= "number" name="temperature" id="temperature-input"></input>  
        <!-- </form> -->
    <% } %>
    </table>
  </section>
</main>
    
    <%- include("../partials/footer") %>