<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/edit.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <table>
    <h1><%= title  %></h1>
      <a href="/workouts/<%= workout._id %>/edit">
        <button class="btn" >Edit Workout</button>
      </a>
    <% if (user) { %>
      <h2><div>Exercise:</div></h2>
      <p><%= workout.exercise.name %></p>
      <h3><div>Duration:</div></h3>
      <p><%= workout.duration %> Minutes</p>
      <h3><div>Workout Date:</div></h3>
      <p><%= workout.startDate %></p>
      <% } %>
          <!-- <h2><label for="content-textarea">Comments:</label></h2>
          <textarea name="content" placeholder= "How was your workout?" id="content-textarea"></textarea>
          <label for="weather-select">Weather:</label>
          <select name="weather" id="weather-select">
              <option value="Sunny">Sunny</option>
              <option value="Partly Cloudy">Partly Cloudy</option>
              <option value="Overcast">Overcast</option>
              <option value="Rainy">Rainy</option>
              <option value="Snowy">Snowy</option>
              <option value="Windy">Windy</option>
          </select>
          <label for="temperature-input">Temperature (°F):</label>
          <input type= "number" name="temperature" id="temperature-input"></input>   -->
        <!-- </form> -->
        <h2>Meal Tracker:</h2>
        <form id="new-form" method="POST" action="/workouts/<%= workout._id %>/meals">
          <label for="meal-plan-select">Meal Plan:</label>
          <select name="mealPlan" id="meal-plan-select">
            <option value="Intermittent Fasting">Intermittent Fasting</option>
            <option value="One Meal A Day">One Meal A Day</option>
            <option value="Carnivore">Carnivore</option>
            <option value="Paleo">Paleo</option>
            <option value="Keto">Keto</option>
            <option value="Custom">Custom</option>
          </select>
          <label for="meal-content-textarea">Meal Log:</label><br>
          <textarea name="mealContent" id="meal-content-textarea"></textarea>
            <label for="meal-type-select">Type:</label>
            <select name="mealType" id="meal-type-select">
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Dessert">Dessert</option>
              <option value="Snack">Snack</option>
              <option value="Drink">Drink</option>
            </select>
            <button type="submit">Add Meal</button>
        </form><br>
        <% if (workout.meals.length) { %>
          <table>
            <thead>
              <tr>
                <th>Meal Plan</th>
                <th>Meal Log</th>
                <th> Type</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% workout.meals.forEach(meal => { %>
                <tr>
                  <td><%= meal.mealPlan %></td>
                  <td>$<%= meal.mealContent %></td>
                  <td>$<%= meal.mealType %></td>
                  <td>
                    <form method="POST" action="/workouts/<%= workout._id %>/meals/<%= meal._id %>?_method=DELETE">
                      <button>❌</button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
           </section>
        <% } else { %>
          <h3>There are no meals logged to this workout on <%= workout.startDate %></h3>
        <% } %>
</main>
    
    <%- include("../partials/footer") %>