<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/style.css" />
<%- include('../partials/nav') %>

<main>
  <section>
    <table>
    <h1><%= title  %></h1>
      <a href="/workouts/<%= workout._id %>/edit">
        <button class="btn" ><i class="fa-solid fa-pen-to-square"></i></button>
      </a>
    <% if (user) { %>
      <h2><div>Exercise:</div></h2>
      <p><%= workout.exercise.name %></p>
      <h3><div>Duration:</div></h3>
      <p><%= workout.duration %> Minutes</p>
      <h3><div>Workout Date:</div></h3>
      <p><%= workout.startDate %></p>
      <% } %>
        <h2>Meal Tracker:</h2>
        <form id="new-form" method="POST" action="/workouts/<%= workout._id %>/meals">
          <h3><label for="meal-content-textarea">Food:</label></h3>
          <textarea name="mealContent" id="meal-content-textarea"></textarea>
            <p><label for="meal-type-select">Type:</label></p>
            <select name="mealType" id="meal-type-select">
              <option value="Breakfast">Breakfast</option>
              <option value="Lunch">Lunch</option>
              <option value="Dinner">Dinner</option>
              <option value="Dessert">Dessert</option>
              <option value="Snack">Snack</option>
              <option value="Drink">Drink</option>
            </select></p>
            <button type="submit"><i class="fa-solid fa-floppy-disk"></i> Log Meal</button>
        </form>
        <% if (workout.meals.length) { %>
          <table>
            <thead>
              <tr>
                <th>Food</th>
                <th>Category</th>
                <th>Delete</th>
              </tr>
            </thead>
          <tbody>
              <% workout.meals.forEach(meal => { %>
                <p><tr>
                  <td><%= meal.mealContent %></td>
                  <td><%= meal.mealType %></td>
                  <td>
                    <form method="POST" action="/workouts/<%= workout._id %>/meals/<%= meal._id %>?_method=DELETE">
                      <button><i class="fa-solid fa-delete-left"></i></button>
                    </form>
                  </td>
                </tr>
              <% }) %>
            </tbody>
          </table>
        <% } else { %>
          <h3>There are no meals logged to this workout<h3>
        <% } %>
</main>
    
    <%- include("../partials/footer") %>