<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/exercises/new.css" />
<%- include('../partials/nav') %>

<main>
  <table>
	<h1><%= title %></h1>
  <p>Please first ensure that the exercise is not in the dropdown
    <select>
      <% exercises.forEach(function(exercise) { %>
        <option><%= exercise.name %></option>
      <% }) %>
    </select>
  </p>
    <label for="name-input">Name:</label>
    <input type="text" name="name" id="name-input">
    <label for="calories-burned-input">Calories Burned:</label>
    <input type="number" name="caloriesBurned" id="calories-burned-input">
    <button type="submit">Add Exercise</button>
  </form>
</table>
</main>

<%- include('../partials/footer') %>